.card{
    width: 250px;
    height: 250px;
    border: 3px solid #1C6CB4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    /* only for puposes of styling */
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.card-header{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card-body{
    padding: 20px;
    text-align: center;
    height: 120px;
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.icon{
    width: 70px;
}