.about-container{
    /* border: 1px solid black; */
    margin-top: 100px;
    height: 45vh;
    /* erro do box shadow n ta aqui */
}

.about-title{
    margin: 120px 150px 50px 300px;
    font-size: 40px;
}

.about-card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/*Tela desktop reduzida*/
@media (max-width: 1300px) {
    .about-title{
        margin: 120px 150px 50px 100px;
    }
    .about-card-container{
        gap:0px;        
    }
    .about-card-container::-webkit-scrollbar{
        display: none;
    }
}


/*Mobile Config*/
@media (max-width: 750px) {
    .about-title{
        margin: 50px 150px 0px 50px;
        font-size: 25px;
        width: 150px;
    }
}