.main-about-container{
    margin-top: 15vh;
   /* height: 45vh; */
   margin-bottom: 15vh;
}

.about-container{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;

    gap: 50px;
    /* Display flex faz o carrousel sumir */
    /* display: flex; */
    /* erro do box shadow n ta aqui */
}

.about-title{
    margin: 120px 150px 50px 300px;
    font-size: 40px;
}

.button-container{
    margin-top: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.more-button{
    width: 100%;
    border: 2px solid #1C6CB4;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
    background-color: white;
    color: black;
}

.more-button:hover{
    background-color: #1C6CB4;
    color: white;
}

.more-button-dark-themed{
    width: 100%;
    border: 2px solid #04FC04;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
    background-color: #1C1C1C;
    color: white;
}
.more-button-dark-themed:hover{
    background-color: #04FC04;
    color: black;
}


/*Tela desktop reduzida*/
@media (max-width: 1150px) {
    .about-title{
        margin: 120px 150px 50px 100px;
    }
    .about-card-container{
        gap:10px;        
    }
}


/*Mobile Config*/
@media (max-width: 850px) {
    .about-title{
        margin: 50px 150px 0px 50px;
        font-size: 25px;
        width: 150px;
    }
    .about-container{
        /*Bug do empilhamento*/
        display: block;
    }
    .button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .more-button{
        width: 280px;
    }
    .more-button-dark-themed{
        width: 280px;
    }
}