.plano-card{
    width: 350px;
    /* background-color: white; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.plano-img{
    /* vai ter q mexer aqui depois na hora do map das imagens */
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    display: block; /* evita espaços abaixo da imagem */
}

.plano-card-header{
    background-color: #1C6CB4;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}

.plano-card-header-dark-themed{
    background-color: #04FC04;
    width: 100%;
    
    text-align: center;
    color: black;
    padding: 10px;
}

.plano-card-body{
    background: white;
    /* bug do raio quando troca o tema */
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 25px;
    text-align: start;
    height: 100%;
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.plano-card-body-dark-themed{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: #1c1c1c; */
    color: white;
    padding: 25px;
    text-align: start;
    height: 100%;
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    gap: 20px;
}

.plano-card-content-paragraph{
    display: block;
    height: 120px;
}

/* arrumar os padding no responsivo */

@media (max-width: 750px ) {
    .plano-card{
        width: 300px;
        height: 550px;
        /* height: 550px; */
        margin: auto;
        /* Bug do box-shadow */
        margin-bottom: 20px;
    }
}