.plano-card{
    width: 350px;
    /* height: 500px; */
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* only for styling purposes */
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.plano-img{
    /* vai ter q mexer aqui depois na hora do map das imagens */
    width: 100%;
}

.plano-card-header{
    background-color: #1C6CB4;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}

.plano-card-header-dark-themed{
    background-color: #04FC04;
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px;
}

.plano-card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    text-align: center;
    height: 100%;
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.plano-card-body-dark-themed{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    padding: 25px;
    text-align: start;
    height: 100%;
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}



@media (max-width: 750px ) {
    .plano-card{
        margin: auto;
        /* Bug do box-shadow */
        margin-bottom: 20px;
    }
}