.plano-container{
    /* border: 1px solid black; */
    /* height: 80vh; */
    margin-top: 100px;
    margin-bottom: 100px;
}

.plano-card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.plano-title{
    margin: 120px 150px 50px 300px;
    font-size: 40px;
}

.plano-title-dark-themed{
    margin: 120px 150px 50px 300px;
    font-size: 40px;
    color: white;
}



@media (max-width: 1300px) {
    .plano-card-container{
        gap: 0px;
    }
    
}
@media (max-width: 1100px) {
    .plano-card-container{
        gap: 0px;
    }
    
}


@media (max-width: 750px) {
    .plano-container{
        /* height: 80vh; */
        margin-bottom: 100px;
    }
    .plano-title{
        margin: 50px 150px 30px 50px;
        font-size: 25px;
        width: 150px;
    }
    .plano-title-dark-themed{
        margin: 50px 150px 30px 50px;
        font-size: 25px;
        width: 150px;
    }
}