.text-container-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.text-container{
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px 40px 40px 40px ;
    background: white;
}
.text-container-title{
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-size: 40px;
}
.text-container-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-container-dark-themed {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background-color: #1a1a1a;
    padding: 20px 40px 40px 40px;
}
.text-container-title-dark-themed {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 40px;
}
.text-container-content-dark-themed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #d3d3d3;
}

@media (max-width: 850px) {
    .text-container-dark-themed{
        width: 80%;
        margin-top: 20px;
    }
    .text-container{
        width: 80%;
        margin-top: 20px;
    }
}