

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    /* position: sticky;
    top: 0; caso queira deixar ele sticky só precisa tirar o comentario e arrumar o carrousel */
    background: #ffffff;
}

.dark-themed-header{
    background: #1C1C1C;
    
}

.dark-themed-header-a{
    color: white;
    transition: 0.3s;
}

.dark-themed-header-a:hover{
    color: #04FC04;
    cursor: pointer;
}

.link-container{
    padding: 20px;
    display: flex;
    list-style: none;
    gap: 3vh;
}

.styled-links{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.3s;
}

.styled-links:hover{
    color: #1C6CB4;
    cursor: pointer;
}

.logo{
    padding: 15px;
    width: 180px;
}

@media (max-width: 850px) {
    .logo{
        width: 60px;
        height: 70px;
    }

    header{
        height: 70px;
    }

    .link-container{
        display: none;
    }
  }